.divs > *{
    font: 3rem sans-serif;
    font-size: 20px;
    font-weight: 110px;
    font-style: oblique;

}

#h3 {
    text-align:center;
    font-size: 17pt;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
  
#ptext {
    font-style: italic;
    text-align: center;
    position: relative;
    top: 10px;
    left:10px;
}

body {
      background-color: aquamarine;
    }

    @media (min-width: 319px) and (max-width: 480px) {
      body {
        background-color: lightsalmon;
      }
    }

    @media (min-width: 481px) and (max-width: 1200px) {
      body {
        background-color: powderblue;
      }
    }

    @media (min-width: 1201px) and (max-width: 1600px) {
      body {
        background-color: limegreen;
      }
    }

    @media (min-width: 1601px) {
      body {
        background-color: seagreen;
      }
    }